/.ruby-version
/.ruby-gemset
/.rvmrc
/.bundle
/.vagrant
/.venv
/roles/adventure_api_ssl_setup/files/*.crt
/roles/adventure_api_ssl_setup/files/*.key
/roles/adventure_frontend_ssl_setup/files/*.crt
/roles/adventure_frontend_ssl_setup/files/*.key
/roles/api_ansible_keys/files/*
!/roles/api_ansible_keys/files/*.pub
/roles/backup_user/files/*
!/roles/backup_user/files/*.pub
/roles/common_ssh_authorized_keys/files/*
!/roles/common_ssh_authorized_keys/files/*.pub
/roles/gridkick_ssl_setup/files/*.crt
/roles/gridkick_ssl_setup/files/*.key
/seeds/*.seed.rb
/vendor/bundle

vagrant_ansible_inventory_*

vars/secrets.json
vars/secrets.yml
